@import url("./card.css");

body,
html {
  height: 100%;
}
body {
  display: flex;
  background-image: url("../Images/background.jpeg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: white !important;
}

.cust-margin {
  margin-top: 5rem;
}

.border-dashed {
  border-style: dashed;
  border-color: white;
}

#countdown_ {
  max-width: 812px;
  width: 70%;
}

.ovrflow {
  overflow: hidden;
}

#countdown div {
  padding: 0 2rem;
}

.flip-card {
  margin: 0.75rem 0.75rem !important;
}

.heading {
  font-size: 64px !important;
}

.icon {
  width: 36px;
  height: 36px;
}

.main-page {
  width: 100%;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.seperator {
  width: 100%;
  height: 2px;
  background-color: white;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
