@import url("./card.css");

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}
body {
  display: flex;
}

.bg-img {
  background-image: url("../Images/background.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

div {
  margin: 0;
}
.cust-margin {
  margin-top: 5rem;
}

.border-dashed {
  border-style: dashed;
  border-color: white;
}

#countdown_ {
  max-width: 812px;
  width: 70%;
}

.ovrflow {
  overflow: hidden;
}

#countdown div {
  padding: 0 2rem;
}

.flip-card {
  margin: 0.75rem 0.75rem !important;
}

.heading {
  font-size: 64px !important;
}

.icon {
  width: 36px;
  height: 36px;
}

i {
  color: #212529 !important;
}

.main-page {
  width: 100%;
}

#main {
  transition: margin-left 0.5s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.seperator {
  width: 100%;
  height: 2px;
  background-color: white;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.questions > h3 {
  margin: 0 !important;
  margin-right: 5px !important;
}

.questions {
  margin-top: 1.5rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
  border-width: 0px 0px 1px !important;
  border-bottom: solid;
  border-bottom-color: rgb(229, 229, 229);
}

.q-answer {
  font-size: 18px !important;
}

.q-description {
  margin-left: 4rem;
  margin-right: 4rem;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.image-section {
  position: relative;
}

.image-section > img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #332e2d;
  color: white;
}
