<section id="countdown" class="cust-margin">
  <div class="d-flex align-items-center flex-column">
    <h1 class="heading" id="more-days">More Days</h1>
    <div
      class="d-flex flex-wrap border-dashed justify-content-center p-3 mt-4"
      id="countdown_"
    >
      <div
        class="d-flex flex-column align-items-center justify-content-center p-4"
      >
        <p class="h2" id="days">0</p>
        <p class="h2">DAYS</p>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <p class="h2" id="hours">0</p>
        <p class="h2">HOURS</p>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <p class="h2" id="minutes">0</p>
        <p class="h2">MINUTES</p>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <p class="h2" id="seconds">0</p>
        <p class="h2">SECONDS</p>
      </div>
    </div>
  </div>
</section>
