<section id="games" class="container cust-margin">
  <div class="d-flex justify-content-center">
    <h1 class="heading mb-4">Olympic Sports</h1>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <!-- card 1 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/gymnastic.jpg"
            alt="gymnastic"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Gymnastics</h1>
          <p>
            Olympic gymnastics is a captivating and dynamic sport that showcases
            extraordinary athleticism, grace, and precision, with athletes
            performing stunning routines on various apparatus, pushing the
            boundaries of human capability.
          </p>
        </div>
      </div>
    </div>
    <!-- card 1 end -->
    <!-- card 2 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/track.jpg"
            alt="running track"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Track</h1>
          <p>
            Olympic track racing is a thrilling and fast-paced sport that
            highlights the incredible speed, endurance, and agility of athletes.
            Competitors sprint, hurdle, and relay their way to victory,
            captivating audiences with their athletic prowess and
            record-breaking performances.
          </p>
        </div>
      </div>
    </div>
    <!-- card 2 end -->
    <!-- card 3 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/swimming.jpg"
            alt="swimming"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Swimming</h1>
          <p>
            Olympic swimming is an exhilarating sport that showcases the
            strength, speed, and technique of athletes in the water. Competitors
            race across different strokes, breaking records and thrilling
            spectators with their incredible aquatic skills.
          </p>
        </div>
      </div>
    </div>
    <!-- card 3 end -->
    <!-- card 4 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/womens_soccer.jpg"
            alt="womens soccer"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Womens Soccer</h1>
          <p>
            Olympic women's soccer is a captivating and fiercely competitive
            sport that showcases the skill, athleticism, and teamwork of the
            players. With intense matches, strategic gameplay, and passionate
            performances, it captivates audiences worldwide.
          </p>
        </div>
      </div>
    </div>
    <!-- card 4 end -->
    <!-- card 5 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/vollyball.jpg"
            alt="Vollyball"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Volleyball</h1>
          <p>
            Olympic volleyball is a dynamic and thrilling sport that combines
            power, agility, and teamwork. With high-flying spikes,
            lightning-fast digs, and strategic plays, athletes captivate
            spectators with their exceptional skills and intense matches.
          </p>
        </div>
      </div>
    </div>
    <!-- card 5 end -->
    <!-- card 6 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/tabletenis.jpg"
            alt="tabletenis"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Table Tenis</h1>
          <p>
            Olympic table tennis is a fast-paced and skillful sport that demands
            precision, agility, and quick reflexes. Players showcase remarkable
            technique, strategic gameplay, and lightning-fast rallies, making it
            a thrilling and captivating Olympic event.
          </p>
        </div>
      </div>
    </div>
    <!-- card 6 end -->
    <!-- card 7 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/wrestlin.jpg"
            alt="wrestlin"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Taekwondo and Judo</h1>
          <p>
            Wrestling, Taekwondo, and Judo are combat sports that showcase
            strength, technique, and mental fortitude. Athletes engage in
            intense grappling, striking, and throwing techniques, captivating
            audiences with their skill, determination, and Olympic spirit.
          </p>
        </div>
      </div>
    </div>
    <!-- card 7 end -->
    <!-- card 8 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="./static/Images/games/mens_basketball.jpg"
            alt="mens basketball"
            style="width: 300px; height: 300px"
          />
        </div>
        <!-- card back -->
        <div class="flip-card-back">
          <h1>Mens Basketball</h1>
          <p>
            Men's basketball in the Olympics is an electrifying sport that
            combines athleticism, skill, and strategy. Teams from around the
            world showcase their talents in high-flying dunks, precise shooting,
            and fast-paced gameplay, creating thrilling and unforgettable
            moments for fans worldwide.
          </p>
        </div>
      </div>
    </div>
    <!-- card 8 end -->
  </div>
</section>
<div class="cust-margin"></div>
