<div class="main-page" id="main">
  <div class="bg-img d-flex flex-column">
    <header id="home">
      <nav
        class="container d-flex flex-column flex-md-row justify-content-md-between mt-2"
      >
        <div class="left d-flex justify-content-center align-items-center">
          <div class="nav-logo">
            <img src="./static/Images/logo_color.svg" alt="olympic logo png" />
          </div>
          <div>
            <h2 class="ml-3">Olympic Games</h2>
          </div>
        </div>
        <div class="right mt-sm-4">
          <ul
            class="d-flex justify-content-center list-unstyled align-items-center flex-wrap"
          >
            <li class="mr-4"><a href="#home" class="h3">Home</a></li>
            <li class="mr-4"><a href="#games" class="h3">Sports</a></li>
            <li class="mr-4"><a href="#contact" class="h3">Contact</a></li>
            <li>
              <button
                type="button"
                class="btn btn-primary mr-5 mt-3 mt-lg-0"
                onclick="openNav()"
              >
                <img
                  src="./static/Images/icons/bars.png"
                  alt="bars svg"
                  style="width: 38px; height: 38px"
                />
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="headSection"></div>
  </div>
  <div id="contentSection"></div>
  <footer id="contact">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="address cust-margin">
          <h3>International Olympic Committee</h3>
          <p>Maison Olympique</p>
          <p>1007 Lausanne</p>
          <p>Switzerland</p>
        </div>
        <div class="social-media cust-margin">
          <h3>Join Our Social Community</h3>
          <div class="d-flex mt-4">
            <div class="mr-3">
              <a
                href="https://www.linkedin.com/company/international-olympic-committee"
                target="_blank"
                ><img
                  src="./static/Images/icons/linkedin.png"
                  alt="linkedin icon"
                  class="icon"
              /></a>
            </div>
            <div class="mr-3">
              <a href="https://www.facebook.com/olympics/" target="_blank"
                ><img
                  src="./static/Images/icons/facebook.png"
                  alt="facebook incon"
                  class="icon"
              /></a>
            </div>
            <div class="mr-3">
              <a href="https://twitter.com/Olympics" target="_blank"
                ><img
                  src="./static/Images/icons/twitter.png"
                  alt="twitter icon"
                  class="icon"
              /></a>
            </div>
            <div class="mr-3">
              <a href="https://www.instagram.com/Olympics/" target="_blank"
                ><img
                  src="./static/Images/icons/instagram.png"
                  alt="linkedin icon"
                  class="icon"
              /></a>
            </div>
          </div>
        </div>
        <div class="contact-us cust-margin">
          <h3>Let's Discuss What's Next</h3>
          <a
            style="color: blue !important; font-weight: 700"
            href="contact.html"
            >CONTACT US</a
          >
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <h3>ICT/19/20/048</h3>
      </div>
      <div style="height: 40px"></div>
    </div>
  </footer>
</div>
